.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: 10px;
    }

    &__subtitle {
        margin-bottom: 20px;
        color: gray;
    }

    &__btns {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }
}