.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;

    &__title {
        margin-bottom: 10px;
    }

    &__subtitle {
        margin-bottom: 20px;
        color: gray;
    }
}